<!--
  ~ Copyright (C) 2016-2019 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Lagom uses in dev mode if no other configuration is provided -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"HH:mm:ss.SSS"} %logger [%mdc] - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="akka" level="DEBUG" />
  <logger name="com.example" level="INFO" />
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>